#atleti-list tbody tr:not(.info-extra) {
  border-radius: 14px 14px 0 0;
  box-shadow: 0 3px 15px 0 rgba(0,0,0,0.13);
  background: #fff;
  border-bottom: 2px solid #d7e0f6;
}
#atleti-list tr.info-extra td {
  background: #fafafd;
  font-size: 1.09em;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top: 0;
  box-shadow: 0 6px 18px 0 rgba(0,0,0,0.10);
  padding: 19px 20px 18px 24px;
  text-align: left;
}
#atleti-list tr + tr:not(.info-extra) td {
  border-top: 26px solid transparent !important;
}
#atleti-list td.td-cf,
#atleti-list td.td-code,
#atleti-list td.td-cell {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.30em;
  white-space: pre-line;
  max-width: 20ch;
  overflow: auto;
  line-height: 1.22em;
  border-radius: 9px;
  background: #f4f8ff;
  color: #1a2948;
  letter-spacing: 0.03em;
  box-shadow: 0 1px 4px 0 #e2eaff70 inset;
  padding: 13px 11px 12px 11px;
}
#atleti-list td.td-code {
  background: #fafeef;
  color: #47612d;
}
#atleti-list td.td-cell {
  background: #e1f0dc;
  color: #2d5113;
}
.info-extra .label-iban, .info-extra .label-iban + span {
  display: inline-block;
  font-size: 1.14em;
}
.info-extra .label-iban {
  font-weight: bold;
  margin-right: 10px;
  color: #0080ff;
}
.info-extra div.iban-row {
  margin-top: 8px;
  border-top: 1.1px solid #e3e3ed;
  padding-top: 7px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.btn-group {
  display: flex;
  gap: 14px;
}
.btn-round {
  width: 44px;
  height: 44px;
  font-size: 1.38em;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 8px #cddbee33;
}
.btn-visualizza {
  background: #188df9;
  color: #fff;
}
.btn-modifica {
  background: #ffe066;
  color: #283628;
}
.btn-cancella {
  background: #e63946;
  color: #fff;
}
.btn-round:active, .btn-round:focus {
  outline: 2px solid #0080ff;
}
